SERVICE_PORT_TURNAMENTS=
SERVICE_PORT_PLAYERS=
SERVICE_PORT_GAMES=
SERVICE_PORT_BACKEND=
DATABASE_URL=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
HOST_SERVICE_TURNAMENTS=http://turnaments
HOST_SERVICE_PLAYERS=http://players
HOST_SERVICE_GAMES=http://games
HOST_SERVICE_BACKEND=http://backend