SERVICE_PORT_TURNAMENTS=
SERVICE_PORT_PLAYERS=
SERVICE_PORT_GAMES=
SERVICE_PORT_BACKEND=
DATABASE_URL=localhost
DATABASE_PORT=14001
DATABASE_USER=linestatuser
DATABASE_PASSWORD=linestatcrypt
HOST_SERVICE_TURNAMENTS=http://localhost
HOST_SERVICE_PLAYERS=http://localhost
HOST_SERVICE_GAMES=http://localhost
HOST_SERVICE_BACKEND=http://localhost